node_modules/
dist/
sqlite.db
/dev-dist/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.DS_Store
local.db
readme-ai.md
/e2e/user.json
gha-creds-*.json
vite.config.ts.*
coverage/
.idea/
