name: Code Quality

on:
  - push
  - pull_request

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup Biome CLI
        uses: biomejs/setup-biome@v2
        
      - name: Run Biome
        run: biome ci src
